#vay-tin-chap .vay-vip-xe-may {
    margin-top: 0px !important;
}

.top-form {
    overflow: hidden;
}

.top-form .sunmite_button button {
    margin-right: 0;
}

.menu .current1 > a {
    background: #53B554 none repeat scroll 0 0 !important;
}