#vay-tin-chap .vay-vip-xe-may {
    margin-top: 0px !important;
}

.top-form {
    overflow: hidden;
}

.top-form .sunmite_button button {
    margin-right: 0;
}

.menu .current1 > a {
    background: #53B554 none repeat scroll 0 0 !important;
}

.kenh14-wrapper {
    margin-top: 63px;
}

.knc-content a {
    color: #1d5df1;
}

.knc-content a:hover {
    color: #078145;
}

.magazine-topic-wrapper .tnwmw-grid-content .tbwnwln .tbwnwln-title a {
    /*height: 118px;*/
}
.tbwnwln-title {
    overflow: hidden;
    height: 118px;
    margin-bottom: 0px;
}
.knc-sapo p {
    border-top: 0;
    padding-top: 5px;
    font-family: SFD-Bold;
    font-weight: normal;
    color: #111;
}
.tnwmw-grid-content .tbwnwln .tbwnln-sapo {

}
.other-post {
    height: 110px;
    overflow: hidden;
}
.magazine-topic-wrapper .tnwmw-grid-content .tbwnwln {
    padding-bottom: 10px;
}

.kenh14-wrapper.size-m .kbwc-title {
    font-size: 33px;
    display: inline-block;
}

.site-container {
    margin-top: 130px;
}

.post-list {
    width: 40%;
    height: 200px;
    float: left;
}

.post-list a {
    webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover !important;
    height: 200px;
    width: 100%;
    border: 1px solid #1db76b;
}

.entry-header p {
    color: #e51b23;
    font-weight: bold;
}

.post .entry-header {
    /*width: 75%;*/
}

.featured-content .entry-title a {
    font-size: 26px;
}

.rpwe-img img{
    border: none !important;
    padding: 0px !important;
    width: 100%;
}

.post-side {
    width: 45px;
    height: 45px;
    float: left;
    border: none !important;
}

.post-side a {
    webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover !important;
    height: 45px;
    width: 45px;
    border: 1px solid #1db76b;
}

.go-top {
    display: none;
}

.expire-text {
    display: inline;
}

.expire-text {
    position: relative;
    padding: 2px 4px;
    font-size: 15px;
    border-radius: 3px;
    color: #fff;
}
.expire-text:after, .expire-text:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.expire-text:after {
    border-width: 8px;
    margin-top: -8px;
}
.expire-text:before {
    border-width: 8px;
    margin-top: -8px;
}

.con-han {
    background: #1fb207;
    border: 3px solid #1fb207;
}

.con-han:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #1fb207;
}

.con-han:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #1fb207;
}

.het-han {
    background: #e51b23;
    border: 3px solid #e51b23;
}

.het-han:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #e51b23;
}

.het-han:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #e51b23;
}

@media (max-width: 767px) {
    .container {
        padding: 0px;
        width: 95% !important;
    }

    .kenh14-wrapper.size-m .kbwc-title {
        margin-top: -10px;
        margin-bottom: 8px;
    }
    .kscliw-sapo, .knswli-sapo {
        font-size: 15px;
    }
    .topic-body-wrapper {
        margin-top: 0px !important;
    }

    .tbw-cover-wrapper {
        padding: 0px;
    }
    .tbwcw-thumb {
        height: auto!important;
    }
    .tbwcw-thumb {
        height: auto!important;
    }
    .tbwcw-content {
        position: static;
        width: 100% !important;
        margin-top: 10px;
    }

    .tbwcw-title {
        color: #000000;
        font-size: 20px;
        line-height: 26px;
    }

    .tbwcwiu-info {
        color: #aaa;
        font-weight: bold;
    }

    .tbw-hightlights-wrapper {
        padding: 0px !important;
    }

    .tbwhw-list .col-lg-6 {
        padding: 0px 0px 10px !important;
        margin-bottom: 15px;
        border-bottom: 1px solid #e8e8e8;
    }

    .magazine-topic-wrapper .tbwhwl-thumb {
        height: auto !important;
    }

    .mobie {
        padding: 0px !important;
    }

    .tbwnwln {
        padding: 0px !important;
    }

    .tnwmw-grid-content .tbwnwln .tbwnwln-thumb img {
        height: auto !important;
    }

    .tbwnw-list-news li {
        margin-bottom: 10px;
    }
    .tbwnwln-title {
        margin-bottom: 0px;
    }

    .kenh14-wrapper {
        margin-top: 0px;
    }

    .khw-ads-wrapper {
        display: none !important;
    }

    .kenh14-wrapper.size-m .kbw-background, .kenh14-wrapper.size-m .kenh14-toolbar-wrapper .w1040 {
        width: 100%;
    }

    .kbw-background {
        border: none;
    }

    .kbws-list, .w1040 {
        width: 100%;
    }

    .kenh14-wrapper.size-m .kbwcb-left {
        padding: 0px;
        width: 100% !important;
        margin-top: -17px;
    }

    .kds-hot-daily {
        width: 100%;
        padding-bottom: 0px;
    }

    .khdli {
        width: inherit;
        margin: 0px;
    }

    .khd-list .col-lg-3 {
        padding: 0px;
    }

    .khdli .kdhli-ava {
        width: 100%;
        height: auto;
    }

    .khdli .kdhli-ava img {
        width: 100%;
        height: auto;
    }

    .khdli .kdhli-title a {
        font-size: 20px;
    }

    .swiper-wrapper {
        display: block;
    }

    ul.kscnds-list .knswli {
        padding: 0px;
        margin-top: 16px;
        padding-bottom: 10px;
    }

    .knswli-left {
        width: 100%;
    }

    .kscliw-ava, .kscliw-ava {
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .kscliw-ava img, .kscliw-ava img {
        width: 100%;
        height: auto;
    }
    .kscliw-right, .knswli-right {
        margin: 12px 0px 0px;
    }

    .tnwmw-grid-content .tbwnwln .tbwnwln-thumb {
        height: auto;
    }
    .tbwnwln-title {
        height: auto !important;
        overflow: inherit !important;
    }
    .tnwmw-grid-content .tbwnwln .tbwnln-sapo {
        height: auto !important;
        overflow: inherit !important;
    }

    .tbwhwl-sapo {
        font-size: 15px;
    }

    .magazine-topic-wrapper .tnwmw-grid-content .tbwnwln {
        padding-bottom: 0px;
    }
    .other-post {
        height: auto;
        overflow: visible;
    }

    .site-container {
        margin-top: 0px;
    }

    .post-list {
        width: 100%;
    }

    .entry-header .entry-title {
        margin-bottom: 0px;
    }

    .h1-detail {
        font-size: 23px !important;
        font-weight: bold !important;
    }
}

