body {
    padding-top: 60px;
}

.header .top-nav .my {
    background: url('/assets/image/my-bg.png') left no-repeat;
    background-size: auto 100%;
}

.header .top-nav .ph {
    background: url('/assets/image/ph-bg.png') left no-repeat;
    background-size: auto 100%;
}

.header .top-nav .id {
    background: url('/assets/image/id-bg.png') left no-repeat;
    background-size: auto 100%;
}

.header .top-nav .topbar-left .logo {
    margin-top: 3px;
}

.header .top-nav .topbar-left .logo img {
    max-width: 270px;
}

.common-global-icons-sprite {
    background-image: url('/new/assets/images/global-icons.png');
    background-size: 32px 688px;
}

.i-automotive, .i-electronics {
    width: 28px;
    height: 28px;
    background-position: 0 -598px;
}

.i-electronics {
    background-position: 0 -482px;
}

.i-fashion, .i-health-beauty {
    width: 28px;
    height: 28px;
    background-position: 0 -453px;
}

.i-sports-outdoor {
    width: 28px;
    height: 28px;
    background-position: 0 -569px;
}

.i-home-living, .i-kids-toys {
    width: 28px;
    height: 28px;
    background-position: 0 -511px;
}

.i-kids-toys {
    background-position: 0 -540px;
}

.i-health-beauty {
    background-position: 0 -627px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

.i-others {
    width: 28px;
    height: 28px;
    background-position: 0 -656px;
}

.dph-info h1 {
    font-size: 23px;
}

.header .navigation-menu > li > a:hover {
    text-decoration: none;
    border-bottom: 2px solid #086a87;
    color: #086a87;
    filter: none;
}

.header .top-nav .nav > li > a:hover {
    border-bottom: 3px solid #0d768f;
}

.header .top-nav .nav > li > a {
    padding-bottom: 0px;
    border-bottom: 3px solid transparent;
}

.wrapper > .container {
    margin-top: 15px;
}

.dph-info {
    border: none;
    padding: 0;
    margin: 0;
}

.dp-header {
    padding: 20px 0 0;
}

.sidebar-nav .logo img {
    width: 50px;
    height: 50px;
}

.sidebar-nav .logo {
    padding: 0 30px;
}

.sidebar-nav li a {
    padding: 0;
    border: none;
}

.sidebar-nav .table-cell {
    display: table-cell;
    vertical-align: top;
}

.sidebar-nav li {
    padding: 10px 0;
    border-bottom: 1px solid #e6e7eb;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.desktop .large img {
    width: 100%;
}

.desktop .large {
    margin-bottom: 0px;
}

.savings .desktop .small {
    color: #f30;
    margin-top: 7px;
    font-size: 22px;
}

@media (min-width: 987px) {
    .header .navigation-menu > li > a {
        padding-top: 15px;
        padding-bottom: 9px;
        border-bottom: 2px solid transparent;
    }
}

@media (max-width: 768px) {
    .dp-header {
        padding: 0;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}