body {
    padding-top: 115px;
}

.header .navigation-menu, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav.nav-tabs, .nav.nav-tabs > li > a, .nav.tabs-vertical > li > a, .tabs-vertical > li.active > a, .tabs-vertical > li.active > a i, .tabs-vertical > li.active > a:focus, .tabs-vertical > li.active > a:hover {
    font-family: 'Open Sans', sans-serif;
}

.lead, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.header .top-nav {
    padding: 0px;
}

.header .top-nav .topbar-left .logo {
    width: 87%;
    margin-top: 5px;
}

.header .top-nav .topbar-left .logo img {
    min-width: 90px;
}

.nav.nav-tabs > li > a i {
    line-height: 15px;
}

.deal .large {
    color: #34b86d !important;
}

.deal .btn-code span.btn-hover {
    border-color: #34b86d !important;
    color: #34b86d;
}

.deal .btn-code span.btn-hover:hover {
    color: #fff;
    background: #34b86d;
}

.sidebar-nav li a:hover {
    color: #f30;
}

.sidebar-nav li i {
    color: #f30;
}

.header .top-nav .nav > li > a:hover {
    background: #000000 !important;
}

.media-body > p {
    height: 20px;
    margin: 0px;
}

.media-heading a {
    color: #000;
}

.media-heading a:hover {
    color: #f30;
}

.a-image {
    width: 74px;
    height: 64px;
    float: left;
}

.a-image a {
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    height: 64px;
    width: 100%;
    display: inline-block;
}

.btn-div {
    text-align: center;
}

#footer .btmFooter {
    background: #25282e;
    padding-bottom: 15px;
    padding-top: 25px;
}

#footer strong, #footer p {
    color: #fff;
}

@media (max-width: 768px) {
    body {
        padding-top: 65px;
    }

    .header .top-nav .topbar-left .logo {
        margin-top: 12px;
    }

    .header .top-nav .topbar-left .logo img {
        min-width: 120px;
    }

    .slide-wrap {
        margin-top: 10px;
    }
}