body {
    padding-top: 120px;
}

.header .top-nav {
    background: linear-gradient(to right, #33cccc, #086a87);
}

.header .navigation-menu, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav.nav-tabs, .nav.nav-tabs > li > a, .nav.tabs-vertical > li > a, .tabs-vertical > li.active > a, .tabs-vertical > li.active > a i, .tabs-vertical > li.active > a:focus, .tabs-vertical > li.active > a:hover {
    font-family: 'Open Sans', sans-serif;
}

.lead, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.coupon-block .coupon-value, .panel-title, .widget .widget-heading a {
    font-family: 'Open Sans', sans-serif;
}

.header .top-nav {
    padding: 0px;
}

.header .top-nav .topbar-left .logo {
    width: 87%;
    margin-top: 5px;
}

.header .top-nav .topbar-left .logo img {
    min-width: 90px;
}

.nav.nav-tabs > li > a i {
    line-height: 15px;
}

.deal .large {
    color: #34b86d !important;
}

.deal .btn-code span.btn-hover {
    border-color: #34b86d !important;
    color: #34b86d;
}

.deal .btn-code span.btn-hover:hover {
    color: #fff;
    background: #34b86d;
}

.sidebar-nav li a:hover {
    color: #f30;
}

.sidebar-nav li i {
    color: #f30;
}

.header .top-nav .nav > li > a:hover {
    background: #000000 !important;
}

.media-body > p {
    height: 20px;
    margin: 0px;
}

.media-heading a {
    color: #000;
}

.media-heading a:hover {
    color: #f30;
}

.a-image {
    width: 74px;
    height: 64px;
    float: left;
}

.top-sp-img {
    width: 100%;
    height: 200px;
}

.top-sp-img a {
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    height: 200px;
    width: 100%;
    display: inline-block;
}

.a-image a {
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    height: 64px;
    width: 100%;
    display: inline-block;
}

.btn-div {
    text-align: center;
}

.dph-info h1 {
    font-size: 25px;
    margin: 0 0 10px;
    line-height: 35px;
}

#footer .btmFooter {
    /*background: #25282e;*/
    padding-bottom: 15px;
    padding-top: 25px;
    background: linear-gradient(to right, #33cccc, #086a87);
}

#footer strong, #footer p {
    color: #fff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.i-left {
    color: #f30;
}

.widget-vayvon .col-lg-6 {
    margin: 6px 0;
}

.view-all a {
    display: inline-block;
    color: #f30;
}

.sp .coupon-block .coupon-title {
    padding: 10px;
    margin: 0px;
}

.top-sp-price {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 16px;
    color: #7e7e7e;
    text-decoration: line-through;
}

.top-sp-percent {
    display: inline-block;
    padding: 2px 6px 1px;
    vertical-align: middle;
    background-color: #fde5e5;
    border: solid 1px #ffc6c6;
    font-size: 12px;
    color: #ff2d2d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.top-sp-title {
    padding: 8px 0px 5px;
    margin-bottom: 0px;
    line-height: 1.2;
    height: 92px;
    overflow: hidden;
    display: inline-block;
    font-size: 22px;
}

.sp .coupon-block .coupon-value {
    margin-bottom: 10px;
}

.magiamgia .widget .widget-heading a {
    color: #fffdfd;
    padding: 0px 10px;
    background: #f30;
    border-radius: 3px;
}

.count-coupon {
    /*background: #f30;*/
    color: #f30;
    /*padding: 2px 4px;*/
    /*border-radius: 50%;*/
}

.coupon-title a {
    font-size: 16px;
}

.arrow_box {
    position: relative;
    background: #cd2439;
    padding: 20px 12px !important;
}
.arrow_box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 184, 108, 0);
    border-top-color: #cd2439;
    border-width: 10px;
    margin-left: -10px;
}

.dangky {
    width: 100%;
    font-size: 20px;
    background: #cd2439 !important;
    border: 1px solid #cd2439 !important;
}

.custom-page-header {
    margin-top: 30px;
}

.featured-content .entry {
    margin-bottom: 10px;
}

.home-bottom .featured-content .entry {
    padding-bottom: 0px;
}

.magiamgiahot .widget .entry {
    border-bottom: 1px solid #eee;
    padding: 0px 10px;
}

.author-box:before, .clearfix:before, .entry-content:before, .entry:before, .featured-content:before, .footer-widgets:before, .nav-primary:before, .nav-secondary:before, .pagination:before, .site-container:before, .site-footer:before, .site-header:before, .site-inner:before, .wrap:before {
    content: " ";
    display: table;
}

.magiamgiahot .widget a {
    background-color: inherit;
    color: #222;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
}

.magiamgiahot .widget img, .gallery img {
    width: auto;
}

.entry-title {
    font-size: 30px;
    line-height: 1.5;
    padding-top: 13px !important;
    color: #015c71;
}

.magiamgiahot .widget img {
    border: 1px solid #f1f1f1;
}

.magiamgiahot .widget .entry-title a {
    font-size: 26px;
}
.author-box:after, .clearfix:after, .entry-content:after, .entry:after, .featured-content:after, .footer-widgets:after, .nav-primary:after, .nav-secondary:after, .pagination:after, .site-container:after, .site-footer:after, .site-header:after, .site-inner:after, .wrap:after {
    clear: both;
    content: " ";
    display: table;
}

.magiamgiahot .widget a:hover {
    color: #f1612f;
}

.detail-coupon img {
    max-width: 100%;
}

.dp-header .container {
    width: 97%;
}

.header .up-nav h1 {
    font-size: 7px;
    line-height: 8px;
    margin: 0px;
    background: #fff;
}

.dph-info div a {
    padding: 0 10px;
    width: auto;
}

.dph-info {
    padding: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.dph-info img, .coupon-single .collapse img {
    position: inherit;
    max-width: 100%;
    margin-bottom: 10px;
}

.copy-btn, .go-site-btn {
    font-size: 20px;
    margin-top: 11px;
}

.go-site {
    color: #f30;
}

.newsletter-form {
    max-width: 540px;
    margin: 0px auto 0;
}

.newsletter-modal {
    /*background: #3cc;*/
    background: linear-gradient(to right, #33cccc, #086a87);
}

@media (max-width: 1199px) {
    .header .top-nav .topbar-left .logo {
        width: 65%;
        margin-top: 8px;
    }

    .newsletter-logo {
        display: none;
    }
}

.coupon-contain ul li {
    line-height: inherit;
}

.desc-bot img {
    max-width: 100%;
}

.kksr-fuel {
    width: 110px;
}

.kksr-stars a {
    display: block;
}

.or-group {
    margin-top: 14px
}

.dk-h3 {
    font-size: 24px;line-height: 38px;
}

footer img {
    width: 100%;
}

.media-div {
    height: 20px;
    overflow: hidden;
}

.media-body {
    display: inline;
}

.text-muted {
    color: #6e8e9e;
}

.coupon_modal .newsletter-form h4, .coupon_modal .newsletter-form small {
    color: #fff;
}

.newsletter-logo {
    top: -21px;
}

.newsletter-logo img {
    max-width: 238px;
}

.dk-alert, .dk-alert-footer { display: none}

@media (max-width: 986px) {
    .navbar-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 65px;
    }

    .header .top-nav .topbar-left .logo {
        margin-top: 12px;
    }

    .header .top-nav .topbar-left .logo img {
        min-width: 120px;
    }

    .slide-wrap {
        margin-top: 10px;
    }

    .custom-page-header {
        margin-top: 10px;
    }

    .entry-title {
        font-size: 24px;
        padding-top: 0 !important;
        margin-top: 0;
    }

    .magiamgiahot .left {
        float: none;
    }

    .header .up-nav {
        display: none;
    }

    .dph-info .col-md-2 {
        text-align: center;
    }

    .dph-info h1 {
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        margin-top: 0;
    }

    .m-t-30 {
        margin-top: 10px !important;
    }

    .dp-header {
        padding: 10px 0;
    }

    .desc-p, .desc-div {
        text-align: center;
    }

    .desc-bot h2 {
        line-height: 20px;
    }

    .magiamgiahot .widget .entry {
        text-align: center;
    }

    .entry-header {
        padding: 0;
    }

    footer img {
        width: 58%;
    }

    .coupon_modal {
        padding: 0;
    }

    .newsletter-logo {
        display: none;
    }
}