@font-face{font-family:'SFD-Heavy';src:url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Heavy2.ttf') format('truetype'),url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Heavy.woff2') format('woff2'),url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Heavy.woff') format('woff');}@font-face{font-family:'SFD-SemiBold';src:url('https://cafebiz.cafebizcdn.vn/web_font/SFD-SemiBold2.ttf') format('truetype'),url('https://cafebiz.cafebizcdn.vn/web_font/SFD-SemiBold.woff2') format('woff2'),url('https://cafebiz.cafebizcdn.vn/web_font/SFD-SemiBold.woff') format('woff');}@font-face{font-family:'SFD-Bold';src:url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Bold2.ttf') format('truetype'),url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Bold.woff2') format('woff2'),url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Bold.woff') format('woff');}@font-face{font-family:'FontAwesome';src:url('https://cafebiz.cafebizcdn.vn/web_font/fontawesome-webfont.woff2') format('woff2'),url('https://cafebiz.cafebizcdn.vn/web_font/fontawesome-webfont.woff') format('woff'),url('https://cafebiz.cafebizcdn.vn/web_font/fontawesome-webfont.svg') format('svg'),url('https://cafebiz.cafebizcdn.vn/web_font/fontawesome-webfont.ttf') format('truetype'),url('https://cafebiz.cafebizcdn.vn/web_font/fontawesome-webfont.eot') format('embedded-opentype');}@font-face{font-family:'SFD-Medium';src:url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Medium2.ttf') format('truetype'),url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Medium.woff2') format('woff2'),url('https://cafebiz.cafebizcdn.vn/web_font/SFD-Medium.woff') format('woff');}

a {
    text-decoration: none !important;
}

a, img, input {
    outline: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
}

#top-menu .navbar-brand {
    margin: 0;
    width: 43px;
}

.scroll-animation {
    display: none;
}

#top-menu::after {
    height: 0;
}

.contentleft {
    float: left;
    width: 100%;
    margin-top: 7px;
}

.bgadmtoptotal {
    padding: 65px;

}

.noibat {
    /*width: 75%;*/
    display: block;
    /*float: left;*/
    padding: 15px;
}

.noibat-right {
    /*float: left;*/
}

.noibat .noibat2 {
    width: 100%;
    float: left;
    background: #fbfaf0;
}

.noibat ul li {
    position: relative;
    display: inline-block;
}

.noibat .noibat1 h2, .noibat .noibat2 h2 {
    width: 100%;
    background: #fff;
    font-weight: normal;
    font-family: SFD-Bold;
    color: #636363;
    font-size: 23px;
    line-height: 31px;
    font-weight: normal;
    padding-bottom: 13px;
}

.noibat .noibat1 h2 a, .noibat .noibat2 h2 a {
    color: #1c1c1c;
}

.noibat .noibat2 img {
    max-width: 100%;
    height: auto;
}

.noibat .noibat2 .infohl {
    float: left;
    /*margin-right: 24px;*/
    /*margin-left: 24px;*/
    /*width: 50%;*/
    margin-top: 20px;
}

.noibat .noibat2 p {
    font-weight: normal;
    display: inline-block;
    font-family: Arial;
    color: #636363;
    font-size: 14px;
    line-height: 20px;
}

.noibat .noibat2 .tlqtophl {
    font-weight: normal;
    display: inline-block;
    border-top: 1px dotted #c9c8c0;
    margin-top: 16px;
    padding-top: 13px;
    width: 100%;
}

.noibat .noibat2 .tlqtophl a {
    color: #171717;
    font-family: SFD-SemiBold;
    font-size: 14px;
    line-height: 20px;
}
.noibat .normal {
    /*width: 223px;*/
    /*float: left;*/
    /*margin-right: 20px;*/
    margin-top: 20px;
}

.normal-noibat {
    width: 100%;
    display: inline-block;
    height: 170px;
    overflow: hidden;
}

.noibat .normal img {
    width: 100%;
    height: auto;
}

.noibat .normal h2 a {
    color: #1c1c1c;
    display: inline-block;
    font-family: SFD-SemiBold;
    margin-top: 13px;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 24px;
    font-weight: normal;
}

.listtimeline ul li p.desc {
    font-family: 'Open Sans';
}

.noibat .normal.last {
    margin-right: 0;
}

.gachtimelinedo {
    background: #a40e0e;
    width: 100%;
    height: 2px;
    display: block;
}

.list_home {
    width: 100%;
    display: inline-block;
}

.listtimeline ul li {
    display: inline-block;
    width: 100%;
    margin-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px dotted #ccc;
}

.show-popup {
    position: relative;
}

.listtimeline ul li img {
    width: 260px;
    height: 163px;
    float: left;
    margin-right: 20px;
}

.listtimeline ul li h3 a {
    font-size: 21px;
    line-height: 28px;
    color: #171717;
    margin-top: 0;
    display: block;
    font-family: SFD-Bold;
    margin-top: -5px;
    font-weight: normal;
}

.listtimeline ul li p {
    color: #404f5d;
    font-weight: normal;
    margin-top: 10px;
    font-size: 14px;
    font-family: SFD-SemiBold;
}

.listtimeline ul li p span {
    color: #929292;
    font-weight: normal;
}

.listtimeline ul li p span.time {
    font-weight: normal;
    color: #929292;
    font-size: 13px;
    font-family: Arial;
}

.khungdetail {
    width: 100%;
    border: 1px solid #dbe0e8;
    margin: 0 auto;
    padding: 25px 10px 10px;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
}

.sprite, #logo a, .IMSNoChangeStyle a, .link-content-footer a, .gachtimkiemv2, .iconmenuhome, .iconguitinnhanhv2, #imgSearch, #logo a, .videohome .block-video .title .left .sp_icon, .listtimeline .more, .footer .info .right .logovc, .noibat .noibat2 .tlqtophl .icontlq, .cafebiz-maildetail, .iconsharefbv3, .icontronfb, .icontronsendfb, .icontronmail, .tags p.title span.icon, .tags span.title span.icon, .moicapnhat #SlideTinNoiBatDetail .swiper-button-next, .moicapnhat #SlideTinNoiBatDetail .swiper-button-prev, .list-tags .more, .list-newsbydate .more, .iconlienhefirst, .iconlienhelast, .totallienhetop .border .iconrow, .totallienhetop .border .item:before, .loaddanhsachtimkiem .more {
    background: url(../web_images/sprice_biz_v38.png) no-repeat;
}

.wp980 {
    width: 1040px;
    margin: 0 auto;
}

.khungdetail .wp980 {
    width: auto;
}

.newscontent {
    /*width: 648px;*/
    border: none;
    margin-top: 20px;
    /*float: left;*/
    padding-bottom: 15px;
}

.khungdetail .newscontent {
    /*width: auto;*/
    /*margin-left: 30px;*/
    margin-top: 0;
    padding: 0 0 0 15px;
}

.khungdetail .newscontent .detail-single2 {
    /*width: 710px;*/
    /*float: right;*/
    position: relative;
}

.newscontent .content {
    width: 600px;
    display: inline-block;
    margin: 15px 25px;
}

.khungdetail .newscontent .content {
    margin: 0;
    width: 100%;
}

.totalcontentdetail .title {
    font-family: Roboto-Bold;
    font-size: 28px;
    line-height: 34px;
    color: #181818;
    font-weight: normal;
}

.newscontent .content h1 {
    font-size: 28px;
    line-height: 34px;
    color: #181818;
    font-weight: normal;
    display: inline-block;
    font-family: SFD-Bold;
    margin-top: -6px;
}

.timeandcatdetail {
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    padding-bottom: 22px;
}

.timeandcatdetail .time, .timeandcatdetail .cat {
    font-family: SFD-SemiBold;
    font-weight: normal;
}

.timeandcatdetail .time {
    color: #545454;
}

.timeandcatdetail .gach {
    color: #a9a9a9;
    margin: 0 19px;
}

.timeandcatdetail .cat {
    text-transform: uppercase;
}

.newscontent .content a {
    color: #f15922;
}

.timeandcatdetail .cat a {
    color: #5f5f5f;
}

#fbrecommend, .share_bt {
    padding: 5px 0;
    /*border-bottom: 1px solid #e4e4e4;*/
    border-top: 1px solid #e4e4e4;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.sharefbdetail {
    float: left;
    margin-right: 5px;
    margin-top: 1px;
    background: #4460ae;
    border-radius: 3px;
}

.iconsharefbv3 {
    width: 65px;
    height: 20px;
    display: inline-block;
    background-position: -225px -458px;
    float: left;
}

.sharefbdetail .countsharefb {
    display: inline-block;
    float: right;
    margin-top: 4px;
    color: #fff;
    padding-right: 4px;
    font-size: 11px;
    font-family: Helvetica,Arial,sans-serif;
}

.fbLikeWrap {
    width: 70%;
    float: left;
    margin-top: 1px;
}

.cafebiz-maildetail {
    background-position: -15px -450px;
    width: 29px;
    height: 22px;
    display: inline-block;
    margin-top: 1px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.send-button {
    cursor: pointer;
    margin-right: 8px;
    margin-top: 2px;
}

.khungdetail .newscontent .detail-single2 .w640right {
    width: 100%;
    position: relative;
    float: right;
}

.mxhsingle2 {
    width: 40px;
    position: absolute;
    top: 24px;
    left: -65px;
}

.icontronfb {
    background-position: -78px -448px;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.icontronsendfb {
    background-position: -175px -448px;
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 12px;
    cursor: pointer;
}

.icontronmail {
    background-position: -126px -448px;
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 12px;
}

.totalcontentdetail .sapo {
    margin-top: 19px;
    margin-bottom: 9px;
    font-family: SFD-Bold;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    color: #333;
}

.newscontent .content h2.sapo {
    font-size: 18px;
    line-height: 25px;
    color: #4f4f4f;
    margin-top: 10px;
    font-family: SFD-Bold;
    width: 100%;
    float: left;
    margin-top: 21px;
    font-weight: normal;
}

.khungdetail .newscontent .detail-single2 .content h2.sapo {
    font-size: 16px;
    line-height: 26px;
    color: #313131;
}

.relationnews {
    padding-top: 10px;
}

.totalcontentdetail .tinlienquan {
    width: 100%;
    margin-top: 21px;
}

#relatednews {
    font-size: 90%;
    font-weight: normal;
    margin: 5px 0;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.totalcontentdetail .tinlienquan li {
    margin-bottom: 12px;
}

#relatednews li {
    text-align: left;
    margin: 9px;
    margin-left: 0;
}

.totalcontentdetail .tinlienquan li span {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #5f5f5f;
    margin-right: 8px;
}

#relatednews li span.time {
    font-size: 13px;
    font-family: Arial;
    line-height: 20px;
    color: #5f5f5f;
    margin-right: 8px;
    position: relative;
    width: 77px;
    display: inline-block;
}

.totalcontentdetail .tinlienquan li span:after {
    content: "";
    border-right: 1px solid #ccc;
    margin-left: 9px;
    height: 11px;
    display: inline-block;
    position: relative;
    top: 1px;
}

#relatednews li span.time:after {
    content: "";
    border-right: 1px solid #ccc;
    margin-left: 9px;
    height: 11px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 0;
}

#relatednews li a {
    color: #004383;
    font-size: 14px;
    font-family: SFD-SemiBold;
    line-height: 20px;
}

.newscontent .content p, .detail-content div {
    line-height: 25px;
    color: #303030;
    /*font-family: Times New Roman;*/
}

.newscontent .content p {
    margin: 14px 0;
}

.link-content-footer a {
    color: #125077!important;
}

.IMSNoChangeStyle a, .link-content-footer a {
    background-position: -470px -7px;
    padding-left: 29px;
}

.p-author {
    text-align: right;
}

.tinmoidetail {
    border-top: 2px solid #61667b;
    margin-top: 22px;
    margin-bottom: 15px;
    position: relative;
    z-index: 10;
    background: #fff;
    /*width: 1038px;*/
    float: left;
    margin-left: 30px;
}

.tinmoidetail .docthemdetail.tab {
    font-size: 24px;
    text-transform: uppercase;
    color: #262a30;
    display: block;
    padding: 0 20px;
    border-top: none;
    line-height: 68px;
    box-sizing: border-box;
    font-family: SFD-Heavy;
    position: relative;
}

.tinmoidetail .docthemdetail.tab:before {
    content: '';
    background: #c90000;
    width: 6px;
    height: 17px;
    position: absolute;
    display: block;
    top: 25px;
    left: 0;
}

.khungdetail .wp980 {
    width: auto;
    display: block;
}

.short-desc {
    font-weight: bold;
}

.noibat-right .banner img {
    max-width: 100%;
}

.btn3 {
    text-align: center;
    padding: 18px 60px;
    box-shadow: 0 4px 5px #ccc;
    text-shadow: 2px 1px 1px #908c8c;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    background: #f15922;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
}

.detail-content img {
    max-width: 100%;
}

.noibat-right .banner {
    text-align: center;
}

.interviewer {
    background-color: rgb(241, 243, 245);
    border-radius: 10px;
    padding: 7px;
}

.interviewer::before {
    content: "";
    background: rgba(0, 0, 0, 0) url(../images/sidebar_face.png) no-repeat scroll 0% 0% / 100% auto;
    float: left;
    padding: 47px;
    margin-right: 10px;
}

.interviewer2 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7px;
}

.interviewer2::before {
    content: "";
    background: rgba(0, 0, 0, 0) url(../images/sidebar_face2.png) no-repeat scroll 0% 0% / 100% auto;
    float: left;
    padding: 47px;
    margin-right: 10px;
}

.name::before {
    content: "PV An An: ";
    color: rgb(7, 29, 197);
    font-weight: bold;
}

.int::before {
    content: "Diễn Viên Việt Anh: ";
    color: rgb(7, 29, 197);
    font-weight: bold;
}

@media (max-width: 768px) {
    .bgadmtoptotal {
        padding: 34px;
    }

    .infoa1 {
        padding: 0px;
    }

    .normal-noibat {
        height: 142px;
    }

    .noibat .noibat2 .infohl {
        margin-bottom: 10px;
    }

    .noibat-right {
        padding: 0;
    }

    .noibat-right img {
        width: 100%;
    }

    .listtimeline ul li img {
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 7px;
    }

    .newscontent .content h1 {
        font-size: 23px;
        line-height: 29px;
    }

    .tinmoidetail {
        margin-left: 0;
    }

    .khungdetail .newscontent {
        padding: 0;
    }

    .btn3 {
        padding: 13px 22px
    }
}